@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%; // convencao para facilitacao de responsividade futura
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: 'Baloo 2', cursive;
  font-weight: 500;
}

body {
  background: rgb(255, 85, 100);
  background: linear-gradient(
    90deg,
    rgba(255, 85, 100, 0.9556197478991597) 41%,
    rgba(217, 54, 81, 0.9500175070028011) 83%
  );
  color: var(--ft-color1);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

input {
  color: var(--ft-color1);
  background: var(--bg-color4);
  border-style: none;
  transition: 0.1s;
  outline: none;

  &:hover {
    filter: brightness(95%);
  }

  &:active,
  &:focus {
    filter: brightness(90%);
  }
}
